

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aliceblue;
    background-image: url("Latar3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #6b3afc;
}   
div {
    background-color: lavender;
    margin: auto;
    border-radius: 12px;
    width: fit-content;
}
h1 {
    margin: 40px ;
    text-align: center;
}
p {
    border-style: solid;
    border-width: 10px;
    border-color: lavender;
    background-color: lavender;
    width: 110vh;
    padding: 15px 20px 15px 35px;
    margin: auto;
    line-height: 1.4;
    border-radius: 20px;
}
#inputp {
    padding-bottom: 20px;
}
form {
    width: 60%;
    margin: 10px auto; 
    padding: 25px 50px;
    background-color: lavender;
    border-radius: 15px;
}
input[type=number] {
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid white;  
}
input[type=submit] {
    width: 90%;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: white;
    background-color:#b490fc;
    border: 1px solid #b490fc;
    border-radius: 5px;   
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #a177f7;
    border: 1px solid #a177f7;
}





